:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

#leva__root > * {
  width: 400px !important;
}

@media (max-width: 768px) {
  #leva__root > * {
    width: 350px !important;
  }
}

@media (max-width: 480px) {
  #leva__root > * {
    width: 70vw !important;
  }
}
