:root {
    --background: #ffffff;
    --foreground: #171717;
}

#leva__root > * {
    width: 300px !important;
}

@media (max-width: 768px) {
    #leva__root > * {
        width: 300px !important;
    }
}

@media (max-width: 480px) {
    #leva__root > * {
        width: 70vw !important;
    }
}
